<div class="hero-image__container">
    <ul class="hero-image__list">
        {% for block in section.blocks %}
            <li class="hero-image__item">
                {%- if block.settings.hero_image != blank -%}
                    <img src="{{ block.settings.hero_image | img_url: 'master' }}" alt="{{ section.settings.image.alt | escape }}">
                {%- else -%}
                <span>
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </span>
                {% endif %}
                {%- if block.settings.link_title != blank and block.settings.link_url != blank -%}
                    <a class="hero-image__link" href="{{ block.settings.link_url }}">
                        <span class="hero-image__link-text">
                            {{ block.settings.link_title }}
                            {% render 'long-arrow-right' %}
                        </span>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% schema %}
{
   "name": "Hero image",
   "class": "hero-image",
        "blocks": [
            {
            "type": "Image",
            "name": "Hero block",
            "limit": 2,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "hero_image",
                    "label": "Hero image"
                },
                {
                    "type": "text",
                    "id": "link_title",
                    "label": "Link title",
                    "default": "Start Framing"
                },
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "Hero link URL"
                },
                {
                    "type": "color",
                    "id": "link_color",
                    "label": "Link title color",
                    "default": "#ffffff"
                }
            ]
        }
    ],
   "presets": [
        {
           "category": "Image",
           "name":"Image with text"
        }
    ]
}
{% endschema %}  